extends layout

block content
  .hidden
    .brand-container
      .brand
        | THSITLab
        span.cite Lite2
    .container
      | Hi there, this is the homepage of THSCSLab, or Tsinghua High School Computer Science Lab.
    .container
      .title
        | Projects
      .para
        .lead Homepage - WIP
        |         The webste you are viewing right now.
      .para
        .lead My Galaxy - WIP
        |         Astrodynamics Simulator
      .para
        .lead To be continued...
        |         Place your project here, if you have push access to this repo.
    .container
      .title
        | Members
      .para
        .lead Liu Xiaoyi, @CircuitCoder
        ul.list
          li Low-ranked Osu! Player
          li Can't even write algorithms
          li Uses Whitespace as his primary programming language
          li Doesn't know how to use colors in his websites
      .para
        .lead Wu Yusong, @bqsgwys
        ul.list
          li Uses Adobe Premiere instead of Moviemaker
          li Almost never rebuild his project
          li Weights more than all members in the lab next door combined
          li Involved in numerous lab projects, but finished few of them
      .para
        .lead Dan Ho, @igaryhe
        ul.list
          li Creator of THSITG
          li FiC (Father-in-Common) of other lab members
          li Can manipulate space-time using mind power
          li Once made a Google Glass application to help users find toliets
      .para
        .lead Xu Jiazhao, @dsg-god
        ul.list
          li Weights more than Wu Yusong
          li Use Photoshop instead of Sketch to design 
          li Specialist of killing chairs
          li Only use Soldier-76 in Overwatch
    .container
      .title
        | FAQ
      .para
        .hangbase
          span.hang Q:
          | Why are these all written is English?
        .hangbase
          span.hang A:
          | Because there is no good Chinese webfont. Also, Google is great. So yeah.
      .para
        .hangbase
          span.hang Q:
          | What do you guys actually do?
        .hangbase
          span.hang A:
          | Usually gaming. May code in spare time.
    .container(segment='')
      .title
        | Proof of existence
      .para
        | Gitlab: 
        a(href='http://git.thsitg.org') http://git.thsitg.org
        br
        |         Github: 
        a(href='http://github.com/THSITG') https://github.com/THSITG
        br
    .footer
      | Proudly powered by W3C, MDN, browsers and author's hand
      br
      |       THSITLab & THSITG, CircuitCoder, bqsgwys, 2016. This webpage is released under CC0.
