doctype html
html
head
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=0.8, minimun-scale=0.8, user-scalable=false')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/jquery-2.2.2.min.js')
script(src='/javascripts/script.js')
body
 block content

